.buddy_login_menu,.buddy_user_main_menu{
  padding: 0;
}

.buddy_login_menu>li,.buddy_user_main_menu>li{
  list-style: none;

}
.buddy_login_menu>li{
  display: inline;
}
.buddy_user_main_menu svg{
  margin-right: 20px;
}
@media (min-width: 992px) {

  .buddy_login_menu>li,.buddy_user_main_menu>li{
    margin-right: 40px;
  }
}

/*.buddy-icon-button*/
.buddy_link_button{
  width: 380px;
  border-radius: 120px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  margin: 20px 0;
  font-weight: 700;

}

.buddy_link_button_social_auth{
  width: 380px;
  border-radius: 120px;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: 10px;
  margin: 6px 0;
  font-weight: 700;
  background: white;
  color: black;
  border: 3px solid black;

}

#user-entry-social-auth {
  width: 100%;
  display: block;
}

.auth-option img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 15px;
  margin-right: 15px;

}
.buddy_small_link_button{
  width: 150px;
  border-radius: 120px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.5rem;
}
.create_account_button,.buddy_button {
  background: #080866;
  color: white;
}
.buddy_menu_button{
  min-width: 200px;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  font-weight: 700;
  background: #080866;
  color: white;
  border: 3px solid #080866;
}

.buddy_menu_button_large{
  width: 380px;
}
@media (max-width: 675px) {
  .buddy_menu_button_large {
    width: 100%;

  }

  .buddy_menu_button{
    margin: 10px 0;
  }
}

.buddy_menu_button:focus{
  background: white;
  color: #080866;
  border: 3px solid #080866;
  text-decoration: none;
}

.buddy_menu_button:hover{
  color: white;
  background-color:  #A20784;
  border: 3px solid #A20784;
  text-decoration: none;
}


.buddy_invert_button{
  background: white;
  color: #080866;
  border: 3px solid #080866;
}
.buddy_invert_button:hover,.buddy_invert_button:focus{
  background: #080866;
  color: white;
  border: 3px solid #080866;
}

@media (max-width: 675px) {
  .buddy_mobile_100 {
    width: 100%;

  }
}

.buddy_invert_button:disabled,.buddy_invert_button:disabled:hover  {
  color: #fff !important;
  background-color: #A20784 !important;
  border-color: #A20784 !important;
}
@media (min-width: 676px){
  .buddy_favourite_col{
    padding: 0 10px 0 0;
    margin: 0;
    text-align: right;
  }
}

.buddy_favourites_button{
  margin: 0px !important;
  font-size: 1rem;

}

@media (max-width: 767px) {
  .buddy_favourites_button{
    margin: 10px 0 !important;


  }
}
.buddy_favourites_button>span{
  padding-right: 10px;
}

@media (max-width: 675px) {
  .buddy_recommendation_menu{
    text-align: center;

  }


  .buddy_recommendation_menu .buddy_menu_button{
    min-width: 100%;
  }
  .star_rating label, .star_rating output {
    display: inline;
    float: none;
    font-size: 2.5em;
  }

  .rate_header{
    margin-top: 10px;
  }
}

.at_detail_list{
  list-style: none;
  padding-left: 0;
}
.at_detail_list li {
  margin-top: 10px;
}

.buddy_rec_info{
  font-size: 1.3rem;
  margin: 20px 0;
}

.li_header{
  display: block;
  font-weight: bold;
}

/*v, .buddy_button:focus,.buddy-icon-button:hover,.buddy-icon-button:focus*/
.create_account_button:hover, .create_account_button:focus, .buddy_button:hover{
  background: #BA0096;
  color: white;
}

.buddy_download{
  width: 80%;
  font-size: 1.2rem;
}
.buddy_download svg{
  margin-right: 20px;
}
.login_intro{
  margin-bottom: 20px;
}
.login_button {
  background: #624dbe;
  color: white;

}

.login_button:hover, .login_button:focus{
  background: #BA0096;
  color: white;
}

.login_info_registration{
  margin: 20px 0;
}

.back_button {
  font-size: 1.5rem;
  text-align: center;
}


/* General */
.alert{
  margin-top:15px;
}

body {
  font-family: 'Noto Sans',sans-serif;
  font-size: 22px;
  font-weight: 400;
  background-color: #FCFCFC;

}
.at_search_results>ul>li{
  list-style: none;
  margin: 0;
}

.at_search_results>ul{
  padding-left: 0px;
}

#main-bg-img{
  margin-top: -130px;
  max-height: 230px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  #main-bg-img{
    display: none;
  }
}
/* Header */

header {

  font-size: 1.29rem;
}
@media (max-width: 991px) {
  header {

    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .buddy_footer_menu{
    list-style: initial;

  }
}
/* NAV */

.navbar-brand img {
  height: 57px;
}
@media (max-width: 576px) {
  .navbar-brand img {
    height: 45px;
  }

  .navbar-brand{
    margin-left: 20px;
  }

  .navbar-toggler-icon{
    width: 35px !important;
    height: 35px !important;
  }


}

@media (max-width: 380px) {
  .navbar-brand img {
    height: 45px;
  }

  .navbar-toggler-icon{
    width: 25px !important;
    height: 25px !important;
  }

  .navbar-toggler{
    font-size: 1rem;
    padding: 0.25rem 0.25rem;
  }
}
@media (max-width: 991px) {
  a[href$='search']{

    display: none;
  }
}

.navbar {
  background-color: #332865;
  color: white;
  font-weight: 700;
}
.navbar-brand a.site-title{
  font-size: 3rem;
}

.navbar-brand .site-slogan{
  font-size: 1.2rem;
}

header .nav-item a,header .navbar-brand a.site-title{
  color: white;
  border: 3px solid #332865;
  border-radius: 10px;
}

.nav-link.active {
  border-color: white;
}



header .navbar-brand a.site-title:hover,
header .navbar-brand a.site-title:focus{
  color: white;
}
header .nav-item a:hover,header .nav-item a:focus{
  background-color: white;
  outline: none;
  color: black;
}



.nav-tabs {
  border-bottom: 2px solid #000000;
}
.nav-tabs .nav-link {
  border: 2px solid transparent;
}
/*
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #000000 #000000 #fff;
}
.nav-link.active{
  background-color: #9c9cc2;
}
*/

.nav-tabs .nav-link {
  margin-bottom: -2px;
}


@media (max-width: 991px) {
  .navbar-expand .navbar-nav {
    flex-direction: column;
  }
  h1{
    font-size: 3.0rem !important;
    word-wrap: break-word;
  }
}



.navbar-expand-lg {
  flex-flow: column;
  justify-content: flex-start;
  padding: 10px 0;

}
/*
.navbar-toggler {
  color: rgb(0, 0, 0);
  border-color: rgb(3, 3, 3);
}
*/

.navbar-expand .navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-toggler-icon {
  color: #ffffff;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2730%27%20height%3D%2730%27%20viewBox%3D%270%200%2030%2030%27%3E%0A%20%20%3Cpath%20stroke%3D%27%23ffffff%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20stroke-width%3D%274%27%0A%20%20%20%20%20%20%20%20d%3D%27M4%207h22M4%2015h22M4%2023h22%27/%3E%0A%3C/svg%3E");
}

.search-icon{
  color: #ffffff;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%20512%20512%27%3E%0A%20%20%3Cpath%20fill%3D%27%23ffffff%27%0A%20%20%20%20%20%20%20%20d%3D%27M505%20442.7L405.3%20343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3%2044-79.7%2044-128C416%2093.1%20322.9%200%20208%200S0%2093.1%200%20208s93.1%20208%20208%20208c48.3%200%2092.7-16.4%20128-44v16.3c0%206.4%202.5%2012.5%207%2017l99.7%2099.7c9.4%209.4%2024.6%209.4%2033.9%200l28.3-28.3c9.4-9.4%209.4-24.6.1-34zM208%20336c-70.7%200-128-57.2-128-128%200-70.7%2057.2-128%20128-128%2070.7%200%20128%2057.2%20128%20128%200%2070.7-57.2%20128-128%20128z%27%3E%3C/path%3E%0A%3C/svg%3E");

}

/*
Langauge Switcher
 */


#block-dropdownlanguage {
  max-width: 200px;
}

#block-dropdownlanguage .dropbutton-wrapper {
  color: black !important;
}

#block-dropdownlanguage .fieldset-legend {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

#block-dropdownlanguage fieldset {
  margin-top: 0;
}

#block-dropdownlanguage fieldset legend {
  display: none;
}

#block-dropdownlanguage .dropbutton-wrapper {
 /* position: absolute; */
  z-index: 1;
  margin: 10px 0;
  max-width: 200px;
}


.block-dropdown-language button:focus {
  box-shadow: 0 0 0 2px #AC535F;
}

.block-dropdown-language a:focus {
  box-shadow: inset 0 0 0 2px #AC535F;
}
@media (max-width: 515px) {
  #block-dropdownlanguage .dropbutton-wrapper {
    position: relative !important;
    display: inline-block;
  }
  #block-buddy-bt4-search-form {
    position: relative !important;
    display: inline-block;
  }

  #block-dropdownlanguage fieldset {
    margin-left: 0 !important;
  }
}

@media (max-width: 991px) {
  #block-dropdownlanguage fieldset {
    margin-left: 8px;
  }
}


/* Breadcrumbs + Search */

.search-block-form{
  text-align: right;
}



/*Main Content */
main{
 /* background-size: cover !important; */
  /* background: url(../assets/svg/buddy_mobile_bg.svg) no-repeat; */
  /*background-image: url(../assets/svg/buddy_bg.svg); */
  font-size: 1.1rem;
  background-repeat:no-repeat;
  background-size:100%;
  background-position: center bottom;
  width:100%;
  margin:0 auto;
  min-height: 75vh;


}

/*
@media (max-width: 991px) {

  main{
    background-image: url(../assets/svg/buddy_mobile_bg.svg);
  }

  .buddy_bg{
    margin-top: 150px;
  }
}
@media (max-width: 691px) {
  .buddy_bg{
    margin-top: 50px;
  }

}
*/
main a{
  text-decoration: underline;
  color: #0000CE;
}
/*
main>.container{
  background-size: cover !important;
  background: url(../assets/svg/buddy_bg.svg) no-repeat;
}
*/
h1,h2{
  font-weight: 700 !important;
  color: #231854;

}

hr {
  border-top: 1px solid rgba(0, 0, 0, 1);
}

table {
  /* box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); */
}

th {
  background-color: #4c60cf;
  color: white;
}

table th:first-child, table td:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child, table td:last-child {
  border-radius: 0 10px 10px 0;
}

.table th, .table td {
  border-top: none;
}

#block-buddy-bt4-page-title {

  margin-top: 30px;
  margin-bottom: 20px;
}


/*
.button:first-child, .image-button:first-child {
  margin-right: 1em;
  margin-left: 1em;
}
*/

th.views-field{
  background-color: black;
}

.view-at-catalogue .views-row {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;

}

.overview-button {
  margin-right: 20px;
  margin-bottom: 20px;
}
details, .form-control{
  border: 3px solid #080866;
  border-radius: 5px;
}

.form-control{
  font-size: 1.5rem;

}

@media (min-width: 992px) {
  .form-control{
    width: 60%;
  }

  #edit-advanced{
    width: 60%;
  }
}

.confirm-parent, .password-parent {

  max-width: 100%;

}

/*SPECIFIC *(


 */

/*

Main page
 */

.buddy_main_page_intro_line{
  display: block;
  font-size: 1.6rem;
}
.mobile_intro_text{
  display: none;
}

@media (max-width: 991px) {
  .mobile_intro_text{
    display: block;
    margin-bottom: 35px;
  }

  .desktop_intro_text{
    display: none;
  }

  .buddy_link_button, .buddy_link_button_social_auth{
    width: 100%;
    margin: 5px 0;
  }
}
@media (max-width: 575px) {
  .buddy_footer_menu>li{
    display: block;


  }


}
@media (max-width: 400px) {
  .buddy_link_button_social_auth{
    font-size: 0.9rem;
  }
}
/*
User Login
 */

.user-login-local-form input{
  max-width: 500px;
}
/*
Platform
 */

.software-type-list,.language-list {

  padding: 0;
}

.software-type-list li,.language-list li {
  /*display: inline; */
  list-style: none;
  white-space: nowrap;
 /* float: left;*/
}

@media all and (max-width: 479px) {
  .hide-narrow-desc {
    display: none;
  }
}

.platform_overview, .language_overview{
  margin-top: 10px;
}
.platform_overview img, .language_overview img{
  max-height: 35px;
  margin-right: 15px;
}

/*
AT INSTall
 */
.buddy_install_tab{
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  margin-bottom: 20px;
  background: white;
}

.buddy_install_tab ul{
  padding-left: 25px;

}
.er_type_install_item{
  list-style: none;
  padding-top: 10px;
}
.buddy_install_tab_link.active{
  border-bottom: none;
}
.buddy-type-icon{
  margin-right: 10px;
}
.buddy_install_description{
  display: flex;
  align-items: center;
}

/* AT LIBRARY */

.at_library_container, #user-entry-form-wrapper {
  border: 3px solid #080866;
  margin-bottom: 10px;
  border-radius: 10px;
  background: white;
  padding: 20px 20px 0 20px;
}

.at_library_container {
  display: block;
 /* float: left; */
  width: 100%;
}

.at_library_action_list {
  margin-bottom: 0;
}

.at_library_action_list li{
  margin-right: 20px;
}

.at_library_container >ul{
  list-style: none;
}

.at_library_container >ul >li{
  display: inline-block;
}
/*
AT ENTRIES AT MODERATOR
 */
.buddy_at_table{
  border-radius: 10px 0 0 10px;
  background-color: white;
}
.buddy_at_table img{
  max-height: 30px;
}
.buddy_menu_link{
  padding-left: 30px;
}

/*
Profile
 */

.profile_container{
  margin-top: 30px;
  border: 3px solid #080866;
  margin-bottom: 10px;
  border-radius: 5px;
  background: white;
  padding: 20px 20px 0 20px;
}
/*FOOTER */
footer.mt-auto{
  /*border-top: 10px solid #080866; */
  /* margin-top: -150px !important; */

  background-color: #332865;
  color: white;
  margin-top:20px;

}

.buddy_footer_menu{
/*  padding-top: 250px; */
  list-style: none;
  text-align: center;
  font-weight: 700;
  font-size: 1.29rem;

}


.buddy_footer_menu a{
  color: white;
}

.buddy_footer_menu>li{
  display: inline;
  padding-right: 50px;
}

@media (max-width: 767px) {
  .buddy_footer_menu{
    padding-left: 0;
  }
  .buddy_footer_menu>li{
    display: block;
    text-align: left;
    font-size: 1.0rem;
    margin-bottom: 15px;
  }
}


/*

.buddy_partners{
  text-align: center;
}

.buddy_partners img{
  margin: 0 100px 20px 100px;
}

.buddy_ec{
  margin-top: 60px;
}

.buddy_ec_logo{
  text-align: right;
}
*/



.search-block-form {
  top: -16px;
}

.block-system-breadcrumb-block {
  top: 35px;
}

