/* General */
.at_container{
  margin-bottom: 50px;
}
.button:first-child, .image-button:first-child {
  margin-right: 1em;
  margin-left: 1em;
}


.nav-tabs {
  border-bottom: 2px solid #000000;
}
.nav-tabs .nav-link {
  border: 2px solid transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #000000 #000000 #fff;
}

.nav-tabs .nav-link {
  margin-bottom: -2px;

}



footer {
  background-color: #343a40;
  color: #fff;
}

.navbar {
  background-color: #343a40;
  color: #fff;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 1);
}

table {
  /* box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); */
}

th {
  background-color: #4c60cf;
  color: white;
}

table th:first-child, table td:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child, table td:last-child {
  border-radius: 0 10px 10px 0;
}

.table th, .table td {
  border-top: none;
}

#block-buddy-bt4-page-title {

  margin-top: 30px;
  margin-bottom: 20px;
}

.view-at-catalogue .views-row {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;

}

.overview-button {
  margin-right: 20px;
  margin-bottom: 20px;
}

#user-entry-social-auth {
  width: 100%;
  display: block;
}

.auth-option {
  float: left;
  margin: 10px;
}

.auth-option img {
  max-width: 120px;
  max-height: 120px;
}


/* Header */

header {

  font-size: 1.39rem;
}

.navbar-brand a.site-title{
  font-size: 3rem;
}

.navbar-brand .site-slogan{
  font-size: 1.2rem;
}

header .nav-item a,header .navbar-brand a.site-title{
  color: white;
}

header .navbar-brand a.site-title:hover,
header .navbar-brand a.site-title:focus{
  color: white;
}
header .nav-item a:hover,header .nav-item a:focus{
  background: #AC535F;
}

.navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}


.navbar-toggler-icon {
  color: white;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header{

  border-bottom: 10px solid #6893dd;
}

/* Breadcrumbs + Search */

.search-block-form{
  text-align: right;
}

/* MAIN */

main {
  font-size: 1.5rem;
  margin-bottom: 50px;
  min-height: 400px;
}


/*FOOTER */

footer{

  border-top: 10px solid #6893dd;
}

.buddy_partners{
  text-align: center;
}

.buddy_partners img{
  margin: 0 100px 20px 100px;
}

.buddy_ec{
  margin-top: 60px;
}

.buddy_ec_logo{
  text-align: right;
}

#block-dropdownlanguage {
  max-width: 200px;
}

#block-dropdownlanguage .dropbutton-wrapper {
  color: black !important;
}

#block-dropdownlanguage .fieldset-legend {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

#block-dropdownlanguage fieldset {
  margin-top: 0;
}

#block-dropdownlanguage fieldset legend {
  display: none;
}

#block-dropdownlanguage .dropbutton-wrapper {
  position: absolute;
  z-index: 1;
  margin: 10px 0;
  max-width: 200px;
}

.search-block-form {
  top: -16px;
}

.block-system-breadcrumb-block {
  top: 35px;
}

.block-dropdown-language button:focus {
  box-shadow: 0 0 0 2px #AC535F;
}

.block-dropdown-language a:focus {
  box-shadow: inset 0 0 0 2px #AC535F;
}

@media (max-width: 991px) {
  .navbar-expand .navbar-nav {
    flex-direction: column;
  }
  #block-dropdownlanguage fieldset {
    margin-left: 8px;
  }
}

@media (max-width: 515px) {
  #block-dropdownlanguage .dropbutton-wrapper {
    position: relative !important;
    display: inline-block;
  }
  #block-buddy-bt4-search-form {
    position: relative !important;
    display: inline-block;
  }

  #block-dropdownlanguage fieldset {
    margin-left: 0 !important;
  }
}

.navbar-expand-lg {
  flex-flow: column;
  justify-content: flex-start;
}
