.at_entry_container{
  border-radius:10px;
  background: #f2f2f2;
  margin-bottom: 20px;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
  padding: 20px;
}
.at_entry_header{
  border-radius:10px 10px 0 0;
  background: #343a40;
  color: white;
  margin-bottom: 10px;
  padding: 20px 10px;
}

.at_entry_header h2{
  color: white !important;
}

.at_entry_header a{
  margin-right: 10px;
  color: white;
  font-size: large;
  text-decoration: none;
  border-bottom: none;
}

.at_entry_container table{
  width: inherit;
  min-width: 100%;
}

.at_entry_container h3,.at_entry_container h2{
  display: inline;
}

.at_entry_descriptions,.at_entry_types{
  float: left;
  min-width:350px;

  width: 100%;

}


.at_entry_descriptions{
  margin-right: 40px;
  width: 100%;
}


.at_entry_container:after {
  content: "";
  display: table;
  clear: both;
}

.at_container_header{
  margin-bottom: 10px;
  margin-top: 10px;
}

.at_container_header a{
  float: right;

}

.type_edit_header,.type_delete_header{
  width: 20px;
}

.at_entry_header_menu{
  text-align: right;
  margin-bottom: 20px;
  font-size: x-large;
}
.at_entry_header_menu i{
  margin-left: 5px;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.at_container_table>table{
  display: table;
}

.at_entry_menu{
  display: inline;
  float: right;


}
.at_entry_menu>a{
  font-size: x-large !important;
  color: #cfc938 !important;

}

.at_entry_menu>a:focus,.at_entry_menu>a:hover{
  color: #fff !important;

}

@media (max-width: 767px) {

  .at_entry_descriptions table th,.at_entry_descriptions .table td{
    padding: 0.2rem;
  }

  .at_entry_container{
    font-size: 1.0rem;
  }
}

@media (max-width: 575px) {
  .at_entry_descriptions table th,.at_entry_descriptions .table td{
    padding: 0.1rem;
  }

  .at_entry_container{
    font-size: 0.8rem;
  }
}

.buddy_category_table{
  width: 100%;
}
table.buddy_category_table th:first-child, table.buddy_category_table  td:first-child {
  border-radius: initial;
}

table.buddy_category_table  th:last-child, table.buddy_category_table  td:last-child {
  border-radius: initial;
}
