.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.star_rating svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
}
.star_rating label, .star_rating output {
  display: block;
  float: left;
  font-size: 2em;
  color: #036;
  margin-left: 3px;
  cursor: pointer;
  /* Transparent border-bottom avoids jumping
     when a colored border is applied
     on :hover/:focus */
  border-bottom: 2px solid transparent;
}

.rating-form-container form {
  width: 290px;
}

.rating-output {
  min-width: 235px;
}

@media (min-width: 870px) {
  .rating-output {
    margin-top: 1em;
    padding-left: 1em;
  }
}

.star_rating output {
  font-size: 1.5em;
  padding: 0 1em;
}
.star_rating input:checked ~ label {
  color: #999;
}
.star_rating input:checked + label {
  color: #036;
  border-bottom-color: #036;
}
.star_rating input:focus + label {
  outline:solid black;
  outline-offset:3px;
}
.star_rating:hover input + label {
  color: #036;
}
.star_rating input:hover ~ label,
.star_rating input:focus ~ label,
.star_rating input[class="star_cancel"] + label {
  color: #999;
}
.star_rating input:hover + label,
.star_rating input:focus + label {
  color: #036;
}
.star_rating input[class="star_cancel"]:checked + label {
  color: #ff2d21;
}
.star_rating [type="submit"] {
  float: none;
}
